html
  {
    font-family: Tahoma, Geneva, sans-serif;
    background-color: #edeef0;;
  }

#brad
{
  padding-left: 46%;
}

ul
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li
{
  float: left;
  width: 25%;
}

li a
{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.sticky
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  float: left;
}

.active
{
  background-color: #006600;
}

.champ
{
  display: block;
  width: 90%;
  margin-left: 5%;
  margin-top: 10px;
}

.champ img
{
  height: auto;
  width: 100%;
}

h1
{
    text-align: center;
}

.standings
{
  width: 90%;
  margin-left: 5%;
  margin-bottom: 10px;
  border-collapse: collapse;
}

.holder
{
  width: 33.3%;
  text-align: center;
  border-collapse: collapse;
}

.holder table
{
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  border: thick #333 solid;
  background-color: white;
}

th
{
  background-color: #333;
  color: white;
}

tr
{
  border-bottom: 2px #333 solid;
  background-color: white;
}

#sRow
{
  border-bottom: none;
}

tr:nth-child(even)
{
    background-color: lightgray;
}

#finalStandings tr
{
    background-color: white;
}

#finalStandings tr:nth-child(odd)
{
    background-color: lightgray;
}

#finalStandings
{
  width: 90%;
  margin-left: 5%;
  border-collapse: collapse;
  border: thick #333 solid;
}

#finalStandings tr td
{
  text-align: center;
}

h3
{
  text-align: center;
}

.team
{
  float: left;
}

@media only screen and (max-width: 600px) 
{
  .holder
  {
    float: left;
    width: 100%;
    border: none;
  }

  .champ 
  {
    width: 100%;
    margin-left: 0;
  }

  .standings
  {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
  
  #brad
  {
    padding-left: 40%;
  }

  #finalStandings
  {
    width: 100%;
    margin-left: 0;
  }
}
