html
  {
    font-family: Tahoma, Geneva, sans-serif;
    background-color: #dcdddf;
    height: 1000px;
  }
  
  ul
  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li
  {
    float: left;
    width: 25%;
  }
  
  li a
  {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .sticky
  {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    float: left;
  }

  .active
  {
    background-color: #006600;
  }

  .champ
  {
    display: block;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10px;
  }
  
  .champ img
  {
    height: auto;
    width: 100%;
  }

  .standings
  {
    width: 90%;
    height: 500px;
    margin-left: 5%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-collapse: collapse;
  }
  
  .division
  {
    width: 40%;
    height: 250px;
    text-align: center;
    border-collapse: collapse;
  }

  .division table
  {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border: thick #333 solid;
    background-color: white;
  }
  
  th
  {
    background-color: #333;
    color: white;
  }

  tr
  {
    height: 62px;
  }

  .test
  {
    width: 50%;
  }
  
  @media only screen and (max-width: 600px) {
    [class*="s"] {
      float: left;
      width: 100%;
      border: none;
    }

    .champ 
    {
      width: 100%;
      margin-left: 0;
    }

    .standings
    {
      margin-left: 0;
    }

    th
    {
      background-color: #333;
      color: white;
    }

    .test
    {
      height: 62px;
      line-height: 62px;
    }

  }
  
  @media only screen and (min-width: 600px) {

  }
  
  @media only screen and (min-width: 768px) {

  }