html
  {
    font-family: Tahoma, Geneva, sans-serif;
    background-color: #edeef0;
  }

#brad
{
    padding-left: 46%;
}

ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li
{
    float: left;
    width: 25%;
}

li a
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.sticky
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    float: left;
}

.active
{
    background-color: #006600;
}

.teamTable
{
  width: 90%;
  height: 500px;
  margin-left: 5%;
  margin-top: 10px;
  margin-bottom: 10px;
  border-collapse: collapse;
}

.teamList
{
  width: 40%;
  border-collapse: collapse;
}

.teamList table
{
  width: 100%;
  border-collapse: collapse;
  border: thick #333 solid;
  background-color: white;
}

.teamList tr
{
    border-bottom: thick #333 solid;
}

.logo
{
  width: 60px;
}

.logo img
{
    height: 55px;
    width: 55px;
}

.teamName
{
  width: 60%;
}

.link
{
  width: 15%;
  padding: 15px;
}

@media only screen and (max-width: 1000px) 
{
  [class*="s"] {
    float: left;
    width: 100%;
  }

  .teamTable
  {
    margin-left: 0;
    width: 100%;
  }
}