html
  {
    font-family: Tahoma, Geneva, sans-serif;
    background-color: #edeef0;;
    height: 1000px;
  }

#brad
{
    padding-left: 46%;
}

ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li
{
    float: left;
    width: 25%;
}

li a
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.sticky
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    float: left;
}

.active
{
    background-color: #006600;
}

h1
{
    text-align: center;
}

#recHolder
{
    width: 90%;
    height: 500px;
    margin-left: 5%;
}

.recTable
{
    width: 100%;
    background-color: white;
    border: thick #333 solid;
    border-collapse: collapse;
}

td
{
    height: 62px;
    text-align: center;
}

.tabRow td:nth-child(1)
{
    width: 30%;
}

#head
{
    background-color: #333;
    color: white;
}

.gray
{
    background-color: lightgray;
}

@media only screen and (max-width: 600px) 
{
  #brad
  {
    padding-left: 40%;
  }

  #recHolder
  {
    width: 100%;
    margin: 0;
  }
}