html
  {
    font-family: Tahoma, Geneva, sans-serif;
    background-color: #edeef0;
  }

#brad
{
  padding-left: 46%;
}

ul
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li
{
  float: left;
  width: 25%;
}

li a
{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.sticky
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  float: left;
}

.active
{
  background-color: #006600;
}

#content
{
    width: 90%;
    margin-left: 5%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-collapse: collapse;
}

h1
{
    text-align: center;
}

#gameNav
{
    width: 100%;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    margin-top: 10px;
}

#gameNav tr table
{   
    display: inline-block;
    width: 16.65%;
    height: 100%;
    vertical-align: top
}

.scores
{
    border-left: thin solid black;
}

.current
{
    background-color: rgba(62, 165, 62, 0.7);
}

.scores:nth-child(1)
{
    border: none;
}

#scores tr:nth-child(odd)
{
    vertical-align: top;
}


#scores tr:nth-child(even)
{
    vertical-align: bottom;
}

#gameNav tr table tr
{
    font-size: .7em;
}

#gameNav tr table tr td:nth-child(3)
{
    width: 5%;
}

#scoreTable
{
    margin-top: 10px;
    width: 100%;
    background-color: white;
    border: 5px solid black;
    border-radius: 15px;
    border-spacing: 0;
}

.logo 
{
    width: 10%;
}

.logo img
{
    width: 25px;
    height: 25px;
}

#scoreTable tr th:nth-child(even)
{
    font-weight: bold;
}

#scoreTable tr td
{
    border: solid thin black;
    text-align: center;
}

#scoreTable tr:nth-child(even)
{
    background-color: lightgray;
}

#scoreTable tr td:nth-child(1)
{
    width: 5%;
}

#scoreTable tr td:nth-child(2)
{
    width: 40%;
}

#scoreTable tr td:nth-child(3)
{
    width: 5%;
    border-right: solid thick black;
}

#scoreTable tr td:nth-child(4)
{
    width: 5%;
}

#scoreTable tr td:nth-child(5)
{
    width: 40%;
}

#scoreTable tr td:nth-child(6)
{
    width: 5%;
}

#scoreTable tr:nth-child(11)
{
    background-color: #333;
    height: 30px;
    color: white;
}

.bScoreImage img
{
    float: left;
    width: 80px;
    height: 80px;
    border-radius: 15px;
}

.totalScore
{
    text-align: center;
}

@media only screen and (max-width: 600px) 
{ 
    #content
    {
        margin-left: 0;
        width: 100%;
    }

    #brad
    {
        padding-left: 40%;
    }

    .scores tr td:nth-child(even)
    {
        display: none;
    }

    td
    {
        font-size: .5em;
    }

    .scoreRows table tr td:nth-child(4)
    {
        border: none;
    }

    .bScoreImage img
    {
        width: 40px;
        height: 40px;
    }
}
