html
  {
    font-family: Tahoma, Geneva, sans-serif;
    background-color: #edeef0;
  }

#brad
{
  padding-left: 46%;
}

ul
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li
{
  float: left;
  width: 25%;
}

li a
{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.sticky
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  float: left;
}

.active
{
  background-color: #006600;
}

#content
{
    width: 90%;
    margin-left: 5%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-collapse: collapse;
    border: thick #333 solid;
}

h1
{
    text-align: center;
}

th
{
    background-color: #333;
    color: white;
}

#t1 tr
{
    border-bottom: 2px #333 solid;
    background-color: white;
}

tr:nth-child(odd)
{
  background-color: lightgray;
}

td
{
    width: 16%;
    height: 25px;
    text-align: center;
}

@media only screen and (max-width: 600px) 
{ 
    #content
    {
        margin-left: 0;
        width: 100%;
    }

    #brad
    {
        padding-left: 40%;
    }

    td
    {
        font-size: .8em;
    }

    th
    {
        font-size: .8em;
    }
}
